.App {
  text-align: center;
}



.Selectable {
  cursor: pointer;
}

.svgtext {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
   user-select:none;
}

.PopIn {

  animation: mymove 1s 1;
  animation-timing-function: ease;

}

@keyframes mymove {
  from {opacity: 0;}
  to {opacity: 1;}
}



textarea {
  max-width: 90%;
  min-width: 90%;
}

#Title {
  text-align: center;
}

.group {
  display: grid;
  grid-template-columns: 2fr 3fr;
  border: dotted black;
  margin: 1%;
  margin-top: 1em;
  gap: 1em;
  
  
}

.group > * {
  border: dotted red;
  
}

.groupStats {
  max-width: 310px;
}

.memberCircles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  border: dotted blue;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}