.App {
  text-align: center;
}



.Selectable {
  cursor: pointer;
}



.svgtext {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
   user-select:none;
}

.PopIn {

  animation: mymove 1s 1;
  animation-timing-function: ease;

}

@keyframes mymove {
  from {opacity: 0;}
  to {opacity: 1;}
}



textarea {
  max-width: 90%;
  min-width: 90%;
}

#Title {
  text-align: center;
}

.group {
  display: grid;
  grid-template-columns: 2fr 3fr;
  border: dotted black;
  margin: 1%;
  margin-top: 1em;
  gap: 1em;
  
  
}

.group > * {
  border: dotted red;
  
}

.groupStats {
  max-width: 310px;
}

.memberCircles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  border: dotted blue;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultContainer {
  display: inline-grid;
  grid-template-rows: 20px 30px;
  grid-template-columns: 3fr 3fr;
  grid-auto-flow: column;
  max-width: 45px;
  height: 60px; 
}


.damageResult {
  grid-row-start: 2;
}

.damageTotal {
  display: inline-grid;
  font-size: 140%;
}


.d20 {
  animation-name: roll;
  animation-duration: .3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 4;

}

@keyframes roll {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-360deg)}
  100% {transform: rotate(360deg);}
}

.result {
  animation-name: delay-pop;
  animation-duration: 1.2s;
}

@keyframes delay-pop {
  0% {visibility: hidden;}
  99% {visibility: hidden;}
  100% {visibility: visible;}
}