HTML {
  text-align: center;
  background-color: #edd892;
  font-family: "Times New Roman", Times, serif;
}

button {
  background-color: #e2b51f;
  border-radius: 8px;
  border-color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 110%;
}

.Selectable {
  cursor: pointer;
}



.svgtext {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
   user-select:none;
}

.PopIn {

  animation: mymove 1s 1;
  animation-timing-function: ease;

}

@keyframes mymove {
  from {opacity: 0;}
  to {opacity: 1;}
}



textarea {
  max-width: 40em;
  min-width: 350px;
  margin-bottom: 20px;
}

#Title {
  text-align: center;
  text-decoration: underline;
  font-size: 150%;
  font-family: "Times New Roman", Times, serif;
}


.group {
  display: grid;
  grid-template-columns: minmax(140px,1fr) minmax(220px,2fr);
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  border: 1px solid black ;
  place-content: center;
  justify-items: center;
  background-color: beige;
  border-radius: 20px;
  max-width: 30em;
}


.groupStats {
  max-width: 310px;
  justify-self: end;
  border-right: 1px solid black;
  
}

.memberCircles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  /* border: dotted blue; */
  
}

.menu {
  align-self: start;
 
}

.diceContainer {
  
}

.resultContainer {
  display: inline-grid;
  grid-template-rows: 20px 30px;
  grid-template-columns: 3fr 3fr;
  grid-auto-flow: column;
  max-width: 45px;
  height: 60px; 
}


.damageResult {
  grid-row-start: 2;
}

.damageTotal {
  display: inline-grid;
  font-size: 140%;
}


.d20 {
  animation-name: roll;
  animation-duration: .3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 4;

}

@keyframes roll {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-360deg)}
  100% {transform: rotate(360deg);}
}

.result {
  animation-name: delay-pop;
  animation-duration: 1.2s;
}

@keyframes delay-pop {
  0% {visibility: hidden;}
  99% {visibility: hidden;}
  100% {visibility: visible;}
}

/* .fade {
  animation-name: slow-fade;
  animation-duration: 10s;
}

@keyframes slow-fade {
  0% {opacity: 100%;}
  100% {opacity: 0%;}
} */

.groupTitle {
  font-weight: bold;
  font-size: 140%;
}

.healthButton {
  border: 1px solid black;
  margin-bottom: 3px;
  font-size: 100%;
  border-radius: 30px;
}

.marginButton {
  margin-top: 5em;
}

.saveBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
}

.info {
  font-size: 80%;
}